.headerDiv{
	height: 256px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 30px;
}
.headerDiv img{
	text-align: center;
	float: left;
	width: 256px;
	height: 256px;
}
#headerText{
	padding: 20px;
	text-align: center;
	font-size: 26pt;
	margin-left: 256px;
}
#headerContacts{
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 12pt;
	list-style-position: inside;
}

.menuDiv{
	clear: left;
	margin-left: 20px;
	margin-right: 20px;
}

.booksDiv{
	clear: left;
	margin-left: 20px;
	margin-right: 20px;
}
#filtersBooks{
	float: left;
	width: 20%;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 10px;
}
#listBooks{
	text-align: center;
	margin-left: 20%;
}

.footerDiv{
	clear: left;
	padding-left: 20px;
	height: 15%;
	margin-left: 20px;
	margin-right: 20px;
}
